<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiscountClass.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A7BAD6422782B580009CBF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A7BAD7C22782B590009CBF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A7BAD8722782B5A0009CBF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
